<div class="l-constrained">
<h1 class="border_heading">宿泊申請履歴</h1>
<% @forms.each do |form| %>
  <%= form.created_at %>に申請
  <%= form.month %>月<%= form.startDay %>日から<%= form.longDay %>日間の宿泊希望
  <% posts = Post.where(form_id: form.id) %>
  <p>宿泊を許可した人</p>
  <% posts.each do |post| %>
    <% if post %>
      <% user = User.find_by(id: post.user_id) %>
      人物名：<%= user.name %>
    <% end %>
  <% end %>
  <%= form_tag("/post/#{form.id}/destroy") do %>
    <input type="submit" class="button button-success" value="申請取り消し">
    <% end %>
<% end %>

<h1 class="border_heading">宿泊申請</h1>

<%= form_tag("/form/apply",{method: :get}) do %>
  <input class="button button-success" type="submit" value="宿泊申請">
<% end %>
<h1 class="border_heading">宿泊許可</h1>
<% @posts.each do |post| %>
  <% form = Form.find_by(id: post.form_id) %>
    <% if form %>
      <% user = User.find_by(id: form.user_id) %>
      <%= user.name %>さんの<%= form.month %>月<%= form.startDay %>日から<%= form.longDay %>日間の宿泊を受け付けています
    <%= form_tag("/form/#{post.id}/select/delete",{method: :post}) do %>
      <input class="button button-success" type="submit" value="許可取り消し">
    <% end %>
  <% end %>
<% end %>

</div>