<p>ここはユーザーのお家情報の更新ページです</p>
<%= form_tag("/main/#{session[:user_id]}/update") do %>
  <p>自分の名前</p>
  <input name="name" value='<%= @house.user_name %>'>
  <p>家の名前</p>
  <input name="house_name" value='<%= @house.house_name %>'>
  <p>家の詳細</p>
  <textarea name="detail"><%= @house.detail %></textarea>
  <p>お泊り可能かどうか（条件付きでも可）</p>
  <input name="canVisit" value='<%= @house.canVisit %>' >
  <p>注意事項</p>
  <textarea name="caution"><%= @house.caution %></textarea>
  <input type="submit" value="地域選択">
<% end %>

