<h3>住居の空き状況一覧です</h3>

<% @houses.each do |house| %>

  <div class="houseInfo">
    <%= house.user_name %>
    :<%= house.house_name %>
    状況：<%= house.detail %>
    今日は宿泊可能かどうか：<%= house.canVisit %>
    注意事項：<%= house.caution %>
    ユーザーID：<%= house.user_id %>
    <img src='<%= "/house_images/#{house.image_name}" %>' >
  </div>


<% end %>