<div class="l-constrained">
<h1 class="border_heading">ユーザー情報</h1>
名前：<%= @user.name %>
  <br>
パスワード：<%= @user.password %>
<%= @user.id %>
<h1 class="border_heading">お家の状況</h1>
家の名前：<%= @house.house_name %><br>
家の詳細：<%= @house.detail %><br>
お泊り可能かどうか：<%= @house.canVisit %><br>
注意事項：<%= @house.caution %><br>
<%= @house.user_name %>
<img src='<%= "/house_images/#{@house.image_name}" %>'  style="width: 50%">

  <h1 class="border_heading">更新</h1>

<%= link_to("/main/#{session[:user_id]}/edit") do %>
  <div id="editLink">
    お家情報の更新
  </div>
<% end %>

<%= link_to("/main/#{session[:user_id]}/edit2") do %>
  <div>
    ユーザー情報の更新
  </div>
<% end %>
</div>