<h2>ここはユーザーのマイページです</h2>
<h3>ユーザー情報</h3>
名前：<%= @user.name %>
パスワード：<%= @user.password %>
<p>お家の状況</p>
家の名前：<%= @house.house_name %><br>
家の詳細：<%= @house.detail %><br>
お泊り可能かどうか：<%= @house.canVisit %><br>
注意事項：<%= @house.caution %><br>