<!DOCTYPE html>
<html>
  <head>
    <title>Hackathons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if !(@current_user) %>
        <div id="notLogin">
          <div class="header-left">
            <%= link_to("/home/top") do %>
              <div id="header_top">
                  トップページへのリンクです
              </div>
            <% end %>
          </div>
          <div class="header-right">
            <%= link_to("/home/new") do %>
              <div id="header_new">
                新規登録へのリンクです
              </div>
            <% end %>
            <%= link_to("/home/login") do %>
              <div id="header_login">
                ログインページヘのリンクです
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div id="Loginning">
          <div class=""header_right>
          <%= link_to("/user/logout",{method: :post}) do %>
            <div id="header_logout">
              ログアウト
            </div>
          <% end %>
          <%= link_to("/user/remove",{method: :post}) do %>
            退会
          <% end %>
          </div>
          <div class="header-left">
            <%= link_to ("/main/index") do %>
              <div id="header_index">
                住居の空き状況
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
