<!DOCTYPE html>
<html>
  <head>
    <title>Hackathons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <%= link_to("/home/top") do %>
          <div id="header_top">
                トップページへのリンクです
          </div>
          <% end %>
      </div>
          <div class="header-right">
            <%= link_to("/home/new") do %>
              <div id="header_new">
                新規登録へのリンクです
                </div>
              <% end %>
              <%= link_to("/home/login") do %>
                <div id="header_login">
                  ログインページヘのリンクです
                </div>
              <% end %>
          </div>
    </header>
    <%= yield %>
  </body>
</html>
