<!DOCTYPE html>
<html>
  <head>
    <title>Hackathons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="l-wrapper">
        <div class="l-header">
          <div class="global-nav">
            <div class="l-constrained">
              <% if !(@current_user) %>
                <div id="notLogin">
                  <%= link_to("/home/top") do %>
                    <div class="logo link l-align-left myidea">
                      Book
                    </div>
                  <% end %>
                  <%= link_to("/home/new") do %>
                    <div class="link l-align-right">
                      新規登録
                    </div>
                  <% end %>
                  <%= link_to("/home/login") do %>
                    <div class="link l-align-center">
                      ログイン
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div id="logining">
                  <%= link_to("/user/logout",{method: :post}) do %>
                    <div class="link l-align-right">
                      ログアウト
                    </div>
                  <% end %>
                  <%= link_to("/user/remove",{method: :post}) do %>
                    <div class="link l-align-right">
                      退会
                    </div>
                  <% end %>
                  <%= link_to ("/main/index") do %>
                    <div class="link l-align-center">
                      住居の空き状況
                    </div>
                  <% end %>
                  <%= link_to("/form/index") do %>
                    <div class="logo link l-align-left">
                      宿泊希望者一覧
                    </div>
                  <% end %>
                  <%= link_to("/form/info") do %>
                    <div class="logo link l-align-left">
                      宿泊許可・宿泊申請
                    </div>
                  <% end %>
                  <%= link_to("/main/top") do %>
                    <div class="link l-align-right">
                      メインページ
                    </div>
                  <% end %>
                  <%= link_to("/main/#{session[:user_id]}") do %>
                    <div class="link l-align-right">
                      マイページ
                    </div>
                  <% end %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
    </header>
    <div id=""main>
      <% if flash[:notice] %>
        <div id="scc">
          <%= flash[:notice] %>
        </div>
        <% elsif flash[:notice_fl]%>
      <div id="fld">
        <%= flash[:notice_fl] %>
      </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
