<% user =  User.find_by(id: @form.user_id) %>

<div class="l-constrained">
  <h2 class="border_heading" style="width: 80%">宿泊希望詳細</h2>
  <p><%= user.name %></p>
  <h2 class="border_heading">宿泊希望エリア</h2>
  <% if @form.area == 1 %>
    <p>対象エリア:東京</p>
  <% elsif @form.area == 2 %>
    <p>対象エリア:南草津</p>
  <% end %>
  <h2 class="border_heading">宿泊希望日程</h2>
  <p><%= @form.month %>月<%= @form.startDay %>日から<%= @form.longDay %>日間</p>
  <%= form_tag("/form/#{@form.id}/create",{method: :post}) do %>
    <input class="button button-success" type="submit" value="泊まってええんやで~">
  <% end %>
</div>